---
- name: Check if murmurd is already installed.
  ansible.builtin.stat:
    path: /usr/sbin/murmurd
  register: murmurd_installed

- name: Ensure required packages are present
  ansible.builtin.apt:
    pkg: mumble-server
    cache_valid_time: 3600

- name: Generate the Murmur config file
  ansible.builtin.template:
    src: "mumble-server.ini.j2"
    dest: "{{ _mumble_config_path }}"
    owner: root
    group: mumble-server
    mode: "0640"
  vars:
    _mumble_config_path: "{{ '/etc/mumble-server.ini' if ansible_distribution_major_version|int <= 12 else '/etc/mumble/mumble-server.ini' }}"
  notify: Restart murmur
  

- name: Allow mumble user to access sslkey
  block:
    - name: Check if we can access key
      ansible.builtin.command: cat "{{ murmur_sslkey }}"
      become: true
      become_user: mumble-server
      changed_when: false
      check_mode: false

  rescue:
    - name: Ensure mumble owns key
      ansible.builtin.file:
        path: "{{ murmur_sslkey }}"
        owner: root
        group: mumble-server
        mode: "0640"
      notify: Restart murmur

- name: Always start service
  ansible.builtin.service:
    name: mumble-server
    enabled: True
    state: started

- name: Write superuser password to a file
  ansible.builtin.copy:
    content: "{{ murmur_superuser_password }}"
    dest: /etc/mumble-superuser
    owner: root
    group: root
    mode: 0600
  when: murmur_superuser_password is defined
  notify: Set superuser password
